[Desktop Entry]
Version=1.0
Type=Link
Name=Arch Linux Installation
Comment=
Icon=bookmark-new
URL=file:///usr/share/doc/arch-wiki/html/en/Installation_guide.html
