[Desktop Entry]
Version=1.0
Type=Link
Name=BlackArch Offline Installation
Comment=
Icon=bookmark-new
URL=file:///usr/share/doc/arch-wiki/html/en/Archiso.html#Installation_without_Internet_access
