
[Desktop Entry]
Type=Application
Name=Screensaver
Name[ar]=حافظة الشاشة
Name[ast]=Curiapantalles
Name[be]=Скрынсейвер
Name[bg]=Предпазител на екрана
Name[ca]=Salvapantalles
Name[cs]=Spořič obrazovky
Name[da]=Skærmskåner
Name[de]=Bildschirmschoner
Name[el]=Προφύλαξη οθόνης
Name[en_AU]=Screensaver
Name[en_GB]=Screensaver
Name[es]=Protector de pantalla
Name[eu]=Pantaila-babeslea
Name[fi]=Näytönsäästäjä
Name[fr]=Économiseur d'écran
Name[gl]=Protector de pantalla
Name[he]=שומר מסך
Name[hr]=Čuvar zaslona
Name[hu]=Képernyővédő
Name[id]=Penyimpan Layar
Name[is]=Skjáhvíla
Name[it]=Salvaschermo
Name[ja]=スクリーンセーバー
Name[kk]=Экран қорғауышы
Name[ko]=화면 보호기
Name[lt]=Ekrano užsklanda
Name[ms]=Penyelamat skrin
Name[nb]=Skjermsparer
Name[nl]=Schermbeveiliging
Name[nn]=Skjermsparar
Name[oc]=Estalviador d'ecran
Name[pl]=Wygaszacz ekranu
Name[pt]=Proteção de ecrã
Name[pt_BR]=Protetor de tela
Name[ro]=Protector de ecran
Name[ru]=Заставка
Name[sk]=Šetrič obrazovky
Name[sl]=Ohranjevalnik zaslona
Name[sr]=Чувар екрана
Name[sv]=Skärmsläckare
Name[th]=โปรแกรมรักษาหน้าจอ
Name[tr]=Ekran Koruyucu
Name[ug]=ئېكران قوغدىغۇچ
Name[uk]=Зберігач екрану
Name[vi]=Trình bảo vệ màn hình
Name[zh_CN]=屏幕保护
Name[zh_HK]=螢幕保護程式
Name[zh_TW]=螢幕保護程式
Comment=Launch screensaver and locker program
Comment[ar]=شغّل حافظة الشاشة وبرنامج التخزين
Comment[ast]=Llanzar curiapantalles y programa de bloquéu
Comment[bg]=Стартиране на предпазителя на екрана и заключването
Comment[ca]=Llança el salvapantalles i el programa de blocatge
Comment[cs]=Spustí spořič obrazovky a aplikaci pro uzamykání obrazovky
Comment[da]=Start programmet skærm-skåner og -lås
Comment[de]=Bildschirmschoner und -sperre aufrufen
Comment[el]=Εκκίνηση προφύλαξης οθόνης και προγράμματος κλειδώματος
Comment[en_AU]=Launch screensaver and locker program
Comment[en_GB]=Launch screensaver and locker program
Comment[es]=Ejecutar protector de pantalla y el programa de bloqueo
Comment[eu]=Abiarazi pantaila-babeslea eta blokeo programa
Comment[fi]=Käynnistä näytönsäästäjä ja lukitusohjelma
Comment[fr]=Lancer l'économiseur d'écran et le verrouilleur
Comment[he]=שגר תוכנית שומר מסך ונעילה
Comment[hr]=Pokreni čuvara zaslona i zaključavanje
Comment[hu]=Képernyővédő és -zároló program indítása
Comment[id]=Jalankan program penyimpan layar dan pengunci
Comment[is]=Keyra skjáhvílu og læsingaforrit
Comment[it]=Avvio il salvaschermo e il programma di blocco
Comment[ja]=スクリーンセーバーおよび画面ロックプログラムを起動します。
Comment[kk]=Экран қорғауыш және блоктау бағдарламасын жөнелту
Comment[ko]=화면 보호기 및 잠금 프로그램 실행하기
Comment[lt]=Paleisti ekrano užsklandą ir užrakinimo programą
Comment[ms]=Lancar penyelamat skrin dan program pengunci
Comment[nb]=Kjør skjermsparer og skjermlås
Comment[nl]=Programma voor schermbeveiliging en -vergrendeling starten
Comment[nn]=Start skjermsparar- og skjermlåsprogrammet
Comment[oc]=Varrolhar e aviar l'estalviador d'ecran
Comment[pl]=Uruchamianie wygaszacza ekranu i programu blokującego ekran
Comment[pt]=Lançar proteção de ecrã e programa de bloqueio
Comment[pt_BR]=Lança protetor de tela e programa de bloqueio de tela
Comment[ro]=Porniți programul de protecție a ecranului
Comment[ru]=Запуск заставки и блокировка рабочего стола
Comment[sk]=Spustiť šetriť obrazovky a aplikáciu pre zamykanie obrazovky
Comment[sl]=Zaženi ohranjevalnik zaslona in program za zaklepanje zaslona
Comment[sr]=Покрените чувар екрана и програм за закључавање
Comment[sv]=Starta skärmsläckare och låsprogram
Comment[th]=เรียกโปรแกรมรักษาและล็อคหน้าจอ
Comment[tr]=Ekran koruyucuyu çalıştır ve programı kilitle
Comment[ug]=ئېكران قوغدىغۇچ ۋە قۇلۇپلىغۇچ پروگراممىسىنى قوزغات
Comment[uk]=Запустити програми зберігача і замикання екрану
Comment[vi]=Chạy trình bảo vệ màn hình và chương trình khóa
Comment[zh_CN]=启动屏幕保护和锁定程序
Comment[zh_HK]=啟動螢幕保護程式與上鎖程式
Comment[zh_TW]=啟動螢幕保護程式與上鎖程式
Icon=preferences-desktop-screensaver
Exec=xscreensaver -no-splash
TryExec=xscreensaver
OnlyShowIn=XFCE;
